broadinstitute/viral-core=2.3.3
broadinstitute/viral-assemble=2.3.2.0
broadinstitute/viral-classify=2.2.5
broadinstitute/viral-phylo=2.1.20.2
broadinstitute/py3-bio=0.1.2
broadinstitute/beast-beagle-cuda=1.10.5pre
broadinstitute/ncbi-tools=2.10.7.10
nextstrain/base=build-20240318T173028Z
andersenlabapps/ivar=1.3.1
quay.io/staphb/pangolin=4.3.1-pdata-1.23.1
nextstrain/nextclade=2.14.0
