broadinstitute/viral-core=2.1.1
broadinstitute/viral-assemble=2.1.1.0
broadinstitute/viral-classify=2.1.1.0
broadinstitute/viral-phylo=2.1.1.0
broadinstitute/beast-beagle-cuda=1.10.5
broadinstitute/ncbi-tools=2.10.7.0
nextstrain/base=build-20200529T044753Z
andersenlabapps/ivar=1.2.2
